version: '3'

services:
  node0:
    container_name: node0
    image: "webbshi/evmosd"
    ports:
      - "26656-26657:26656-26657"
      - "8545-8546:8545-8546"
    volumes:
      - ./chainData/ernest1/node0/evmosd:/evmos:Z
    command: sh -c "evmosd start --home /evmos"
    networks:
      localnet:
        ipv4_address: 192.167.10.2

  node1:
    container_name: node1
    image: "webbshi/evmosd"
    ports:
      - "26659-26660:26656-26657"
      - "8045-8046:8545-8546"
    volumes:
      - ./chainData/ernest1/node1/evmosd:/evmos:Z
    command: sh -c "evmosd start --home /evmos"
    networks:
      localnet:
        ipv4_address: 192.167.10.3

  node2:
    container_name: node2
    image: "webbshi/evmosd"
    ports:
      - "26661-26662:26656-26657"
    volumes:
      - ./chainData/ernest1/node2/evmosd:/evmos:Z
    command: sh -c "evmosd start --home /evmos"
    networks:
      localnet:
        ipv4_address: 192.167.10.4

  celestia-app1:
    image: webbshi/celestia-app:v1.6.0
    restart: always
    container_name: 'app1'
    command: '/bin/celestia-appd start --grpc.enable --home /home/celestia/.celestia-app/'
    environment:
      APP_PATH: '/home/celestia/'
    ports:
      - 36656:26656
      - 36657:26657
      - 1317:1317
      - 9090:9090
    volumes:
      - ./chainData/da-network/peer1:/home/celestia/.celestia-app
    networks:
      localnet:
        ipv4_address: 192.167.10.12

  celestia-app2:
    image: webbshi/celestia-app:v1.6.0
    restart: always
    container_name: 'app2'
    command: '/bin/celestia-appd start --grpc.enable --home /home/celestia/.celestia-app/'
    environment:
      APP_PATH: '/home/celestia/'
    ports:
      - 36666:26656
      - 36667:26657
      - 11317:1317
      - 19090:9090
    volumes:
      - ./chainData/da-network/peer2:/home/celestia/.celestia-app
    networks:
      localnet:
        ipv4_address: 192.167.10.13

  celestia-app3:
    image: webbshi/celestia-app:v1.6.0
    restart: always
    container_name: 'app3'
    command: '/bin/celestia-appd start --grpc.enable --home /home/celestia/.celestia-app/'
    environment:
      APP_PATH: '/home/celestia/'
    ports:
      - 36676:26656
      - 36677:26657
      - 21317:1317
      - 29090:9090
    volumes:
      - ./chainData/da-network/peer3:/home/celestia/.celestia-app
    networks:
      localnet:
        ipv4_address: 192.167.10.14


  celestia-app4:
    image: webbshi/celestia-app:v1.6.0
    restart: always
    container_name: 'app4'
    command: '/bin/celestia-appd start --grpc.enable --home /home/celestia/.celestia-app/'
    environment:
      APP_PATH: '/home/celestia/'
    ports:
      - 36686:26656
      - 36687:26657
      - 31317:1317
      - 39090:9090
    volumes:
      - ./chainData/da-network/peer4:/home/celestia/.celestia-app
    networks:
      localnet:
        ipv4_address: 192.167.10.15

  relayer:
    container_name: relayer
    restart: "no"
    image: "webbshi/ibc-relayer"
    #    ports:
#      - "36659-36660:26656-26657"
    volumes:
      - ./chainData/relayer:/relayer:Z
    command: 'sh -c /relayer/relayer-docker-run.sh'
    networks:
      localnet:
        ipv4_address: 192.167.10.10

networks:
  localnet:
    driver: bridge
    ipam:
      driver: default
      config:
        -
          subnet: 192.167.10.0/16